# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
!.env.example

# Rust / Cargo
src-tauri/target/
src-tauri/Cargo.lock
target/

# OS Specific
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lock*
